.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--large) var(--large) var(--medium) var(--large);
}

.modal-background {
    display: block;
    position: fixed;
    top: 0;
    background: var(--dark10);
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: fade-in 0.5s both;
}

#search {
    width: 500px;
    max-width: 90%;
    border: solid var(--dark);
    border-width: 0 0 1px 0;
    border-radius: 0px;
    background: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    padding: var(--tiny);
    z-index: 2;
}

.all-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: scroll;
    max-height: 70vh;
    border-radius: var(--small);
    box-shadow: var(--shadow);
    background: var(--light);
    width: 900px;
    max-width: 80%;
    margin: var(--large);
    z-index: 2;
    animation: accordian 0.5s both 0.5s;
}

.all-results::-webkit-scrollbar {
    display: none;
}

.search-suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: var(--small);
    width: 100%;
}

.suggestion-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--medium);
    animation: slide-up 0.5s both;
}

.suggestion {
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    padding: var(--small) var(--medium);
    transition: none;
    animation: slide-up 0.5s both;
}

.suggestion:hover {
    cursor: pointer;
    background: var(--accent);
    color: var(--light);
}

.suggestion:last-of-type {
    border-radius: 0 0 var(--small) var(--small);
}

.suggestion::before {
    content: '';
    position: absolute;
    margin: auto;
    right: var(--medium);
    left: var(--medium);
    transform: translateY(-15px);
    height: 1px;
    background-color: var(--dark10);
}

.suggestion:first-of-type::before {
    display: none;
}

.suggestion p {
    transition: none;
}

.result {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: var(--small) var(--medium);
    transition: none;
    animation: slide-up 0.5s both;
}

.result:hover {
    cursor: pointer;
    background: var(--accent);
    color: var(--light);
}

.result::before {
    content: '';
    position: absolute;
    margin: auto;
    right: var(--medium);
    left: var(--medium);
    transform: translateY(-15px);
    height: 1px;
    background-color: var(--dark10);
}

.result:first-of-type::before {
    display: none;
}

.result-details,
.result-details h3,
.result-details p {
    transition: none;
}

.result-image {
    object-fit: contain;
    width: 60px;
    margin-right: var(--medium);
}

.result-details {
    display: flex;
    flex-direction: column;
}

.search-placeholder {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 300;
    transform: translateY(5px);
    opacity: 0.5;
}

.search-active {
    transform: translateY(-20px) !important;
    font-size: 1rem !important;
}

/* large screens */
@media screen and (max-width: 1200px) {}

/* small screens */
@media screen and (max-width: 1024px) {}

/* tablets */
@media screen and (max-width: 768px) {

    .search {
        padding: var(--tiny);
    }

    #search {
        width: 500px;
        max-width: 95%;
        border: solid var(--dark);
        border-width: 0 0 1px 0;
        background: none;
        outline: none;
        font-size: 1rem;
        text-align: center;
        padding: var(--tiny);
        z-index: 2;
    }

    .result {
        padding: var(--small);
    }

}

/* phones */
@media screen and (max-width: 480px) {

    .all-results {
        max-width: 90%;
    }

    .result {
        padding: var(--small);
    }

    .suggestion {

    }

    .suggestion::before {
        right: var(--small);
        left: var(--small);
        transform: translateY(-15px);
    }

    .result::before {
        right: var(--small);
        left: var(--small);
        transform: translateY(-15px);
    }

    .result-image {
        width: 50px;
        margin-right: var(--small);
    }

}