header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: var(--large);
}

.site-title {
    font-family: 'Pinyon Script', cursive;
    font-size: 2.8rem;
}