.product-card {
    display: flex;
    gap: var(--medium);
}

.product-image {
    object-fit: contain;
    height: 200px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--small);
}

.product-headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: 0 var(--tiny);
}

.product-brand-category {
    display: flex;
}

.product-brand {
    margin-right: var(--tiny);
}

.product-category {
    margin-left: var(--tiny);
}

.product-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dark25);
    border-width: 1px 0 0 0;
    padding: 10px var(--tiny);
}

.product-detail-header:hover {
    cursor: pointer;
}

.remove-product-btn {
    opacity: 0.5;
    margin: var(--tiny);
}

.remove-product-btn:hover {
    cursor: pointer;
    color: var(--red);
    opacity: 1;
}

/* day/night icons */
.day-night-icons {
    opacity: 0.5;
    width: fit-content;
    padding: var(--tiny) 0;
}

.day-night-icons * {
    stroke-width: 1;
}

.accordian-carrot {
    opacity: 0.5;
}

.product-detail-header:hover .accordian-carrot {
    opacity: 1;
}

.accordian {
    max-height: 0px;
    overflow: hidden;
    padding: 0 var(--medium);
}

.accordian:last-child {
    border: 1px solid var(--dark25);
    border-width: 0 0 1px 0;
}

.accordian > * {
    margin: var(--small);
}

.suggested-use {
    list-style: upper-roman;
}

.use-line {
    padding-left: var(--tiny);
    transform: translateX(-5px);
}

.use-line:last-of-type,
.description-line:last-of-type,
.ingredient:last-child {
    margin-bottom: var(--medium);
}

.ingredient:last-child::before {
    content: 'Inactive Ingredients';
    font-weight: 500;
}

.ingredient-line:first-child {
    font-weight: 500;
}

.ingredient-line:last-child {
    font-weight: 200;
}

.ingredient-line:only-child {
    font-weight: 500;
}

.ingredient:last-of-type .ingredient-line {
    font-weight: 200;
}

/* large screens */
@media screen and (max-width: 1200px) {}

/* small screens */
@media screen and (max-width: 1024px) {}

/* tablets */
@media screen and (max-width: 768px) {

    .product-image {
        height: 150px;
    }

    .product-headline {
        justify-content: flex-end;
        width: 100%;
        margin: 0 var(--tiny);
    }

    .accordian {
        padding: 0 var(--small);
    }

    .suggested-use {
        padding-left: var(--large) !important;
    }

}

/* phones */
@media screen and (max-width: 480px) {

    .product-image {
        height: 90px;
        margin-right: var(--tiny);
    }

    .product-detail-header:first-of-type {
        margin-top: var(--small);
    }

    .accordian {
        padding: 0 var(--tiny);
    }

    .suggested-use {
        padding-left: var(--medium) !important;
    }

}