.routine {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.routine-headline {
    margin-top: var(--medium);
}

.no-products-message {
    text-align: center;
    font-weight: 200;
    margin: var(--small) var(--medium);
    animation: fade-in 0.5s both;
}

.all-products {
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 100%;
    list-style-type: decimal;
}

.product {
    display: flex;
    align-items: flex-start;
    padding: var(--large);
    animation: slide-up 0.5s both;
}

.step::before {
    content: 'Step ';
    font-size: 1rem;
    font-weight: 200;
    animation: slide-up 0.5s both;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    line-height: 0.9;
    height: 200px;
    margin-right: var(--large);
    animation: slide-up 0.5s both;
}

.api-credit {
    padding: var(--large);
    text-align: center;
    font-size: 0.9rem;
    animation: fade-in 0.5s both 2s;
}

/* large screens */
@media screen and (max-width: 1200px) {}

/* small screens */
@media screen and (max-width: 1024px) {

    .product {
        flex-direction: column;
    }

    .step::before {
        content: 'Step ';
        font-size: inherit;
        font-weight: 600;
    }
    
    .step {
        display: block;
        height: fit-content;
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: var(--medium);
    }

}

/* tablets */
@media screen and (max-width: 768px) {

    .product {
        padding: var(--large) var(--medium);
    }

    .step {
        margin-bottom: var(--small);
    }

}

/* phones */
@media screen and (max-width: 480px) {

    .product {
        padding: var(--medium) var(--small);
    }

    .step {
        font-size: 1.8rem;
    }

    .step:first-of-type {
        margin-top: var(--small);
    }

    .api-credit {
        padding: var(--medium);
    }

}